* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.dark-mode {
  background-color: #131d27;
}

header {
  background-color: #153844 !important;
  background-image: url("../images/header-back.png") !important;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: padding 0.5s;
  z-index: 2;
}

.top {
  display: none;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 40px;
  width: 40px;
  background-color: #145E76;
  justify-content: center;
  align-items: center;
}
.top i {
  color: white !important;
  font-size: 24px;
}

.top-hide {
  display: block;
}

.navbar .navbar-brand {
  color: white !important;
  font-weight: 700 !important;
}
.navbar .navbar-toggler {
  border-color: #145E76 !important;
  background-color: white !important;
}
.navbar .navbar-toggler:focus {
  color: #145E76 !important;
}
.navbar .nav-link {
  color: rgba(255, 255, 255, 0.816) !important;
}
.navbar .nav-link:hover {
  color: #145E76 !important;
}
.navbar .active {
  background-color: #153844 !important;
}
.navbar .btn {
  color: white !important;
  border-color: #145E76 !important;
  border-radius: 15px !important;
}
.navbar .btn:hover {
  background-color: #145E76 !important;
}
.navbar .fa-eye {
  color: white !important;
  background-color: transparent;
}
.navbar .collapse .navbar-nav {
  flex: 1 !important;
  display: flex !important;
  justify-content: center !important;
  gap: 15px !important;
}
.navbar .offcanvas {
  background-color: #153844 !important;
  background-image: url("../images/header-back.png") !important;
  width: 40% !important;
}
.navbar .offcanvas .offcanvas-title {
  color: white !important;
}
.navbar .offcanvas .navbar-nav {
  flex-direction: column !important;
}

.navbar-shrink {
  padding: 5px 0;
  transition: padding 0.5s;
}

.footer {
  padding: 100px 0;
}
@media screen and (max-width: 700px) {
  .footer {
    padding: 50px 0;
  }
}
.footer .navbar-brand {
  padding-top: 0 !important;
  margin-top: 0 !important;
  color: #08546C;
  font-weight: 700 !important;
  font-size: 32px;
}
.footer h3 {
  color: #08546C;
  font-weight: 600;
  padding-bottom: 15px;
}
.footer p {
  max-width: 375px;
  color: #787878;
}
.footer a {
  text-decoration: none;
  max-width: 375px;
  color: #787878;
  padding-bottom: 10px;
}
.footer .contacts a {
  color: #787878;
  font-size: 28px;
  transition: 0.3;
}
.footer .contacts a:hover {
  transition: 0.3s;
  color: #FFA800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  overflow-y: scroll;
}

.hero {
  padding-top: 50px !important;
  background-color: #153844;
  background-image: url("../images/header-back.png") !important;
  padding-bottom: 50px !important;
}
@media screen and (max-width: 650px) {
  .hero {
    padding-bottom: 150px !important;
  }
}

.hero-left > span > a {
  color: white !important;
  border-color: #145E76 !important;
  border-radius: 15px !important;
  text-decoration: none;
  background-color: #145E76 !important;
  font-family: "Schoolbell", cursive;
}
.hero-left h1 {
  color: white;
  font-size: 54px;
}
@media screen and (max-width: 650px) {
  .hero-left h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 500px) {
  .hero-left h1 {
    font-size: 34px;
  }
}
.hero-left p {
  color: white;
  opacity: 0.6;
}
.hero-left .hero-btns a {
  color: white !important;
  border-color: #145E76 !important;
  border-radius: 19px !important;
  text-decoration: none;
  padding: 16px 25px;
  transition: 0.2s;
}
.hero-left .hero-btns a:hover {
  transition: 0.2s;
  background-color: #FFA63A !important;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.hero-right img {
  top: 0;
  width: 120%;
}

.hero-bottom {
  height: 30px;
}
.hero-bottom .card {
  padding: 50px 150px !important;
  border-radius: 20px !important;
}
@media screen and (max-width: 600px) {
  .hero-bottom .card {
    padding: 25px 75px !important;
  }
}
.hero-bottom .card h5 {
  font-size: 32px;
  font-weight: 700;
}
.hero-bottom .card h2 {
  font-size: 40px;
  font-weight: 600;
}
.hero-bottom .card p {
  font-size: 24px;
}
.hero-bottom .card h5, .hero-bottom .card h2, .hero-bottom .card p {
  color: #145E76 !important;
}

.services {
  padding-top: 200px !important;
}
@media screen and (max-width: 1400px) {
  .services {
    padding-top: 300px !important;
  }
}
@media screen and (max-width: 1000px) {
  .services {
    padding-top: 500px !important;
  }
}
.services .row > a {
  color: #145E76 !important;
  text-align: center;
  font-family: "Schoolbell", cursive;
}
.services .row h2 {
  max-width: 510px;
  font-size: 40px;
  color: #145E76;
  font-weight: 700;
}
.services .row .cards {
  padding-bottom: 100px;
}
.services .row .cards .card {
  box-shadow: 5px 10px 18px rgba(136, 136, 136, 0.1529411765);
  border: none !important;
  border-radius: 0px !important;
  transition: 0.3s;
}
.services .row .cards .card i {
  font-size: 40px;
  color: #145E76;
  background-color: #F5FBFC;
  border-radius: 50%;
  padding: 5px;
}
.services .row .cards .card h3 {
  font-weight: 700;
}
.services .row .cards .card p {
  opacity: 0.5;
}
.services .row .cards .card:hover {
  transition: 0.3s;
  background-color: #145E76;
}
.services .row .cards .card:hover i {
  background-color: #FFA63A;
  color: white;
}
.services .row .cards .card:hover h3, .services .row .cards .card:hover p {
  color: white;
}

.portfolio {
  padding-bottom: 100px;
}
.portfolio .row h2 {
  font-size: 42px;
  font-weight: 700;
  color: #145E76;
  padding-bottom: 10px;
}
.portfolio .row p {
  color: #757575;
  max-width: 450px;
  padding-bottom: 30px;
}
.portfolio .row .cards .card {
  border: none !important;
}
.portfolio .row .cards .card img {
  width: 100%;
  height: 300px;
}
.portfolio .row .cards .card h5 {
  color: #145E76 !important;
  font-weight: 600;
  font-size: 24px;
  padding-top: 10px;
}
.portfolio .row .cards .card a {
  color: #145E76;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.portfolio .row .cards .card a:hover {
  color: #FFA63A;
}

.sec-4 {
  padding: 80px 0;
  background-color: #153844;
  background-image: url("../images/header-back.png") !important;
}
.sec-4__right p {
  color: white;
}
.sec-4__right p:nth-child(odd) {
  opacity: 0.5;
}
.sec-4 .carousel-btns {
  justify-content: center;
  display: flex;
}
.sec-4 .carousel-control-next, .sec-4 .carousel-control-prev {
  position: static !important;
}
.sec-4 .carousel-control-next:hover .visually-hidden, .sec-4 .carousel-control-prev:hover .visually-hidden {
  font-size: 50px !important;
}

.blog {
  padding: 200px 0 100px 0;
  border-bottom: 3px solid #D4D4D4;
}
@media screen and (max-width: 1000px) {
  .blog {
    padding: 100px 0;
  }
}
@media screen and (max-width: 700px) {
  .blog {
    padding: 50px 0;
  }
}
.blog .blog-left img {
  width: 100%;
}
.blog .blog-right h2 {
  color: #08546C;
  font-weight: 600;
  max-width: 222px;
  font-size: 45px;
  padding-bottom: 16px;
}
.blog .blog-right p {
  color: #757575;
  max-width: 350px;
  opacity: 0.7;
  padding-bottom: 32px;
}
.blog .blog-right a {
  color: white;
  background-color: #FFA63A;
  border-radius: 28px;
  text-decoration: none;
  padding: 16px 24px;
}
.blog .blog-right .carousel-control-next, .blog .blog-right .carousel-control-prev {
  position: static !important;
  margin-top: 50px;
}
.blog .blog-right .carousel-control-next i, .blog .blog-right .carousel-control-prev i {
  color: rgba(255, 166, 58, 0.3725490196);
  background-color: white;
  font-size: 42px;
}
.blog .blog-right .carousel-control-next i:hover, .blog .blog-right .carousel-control-prev i:hover {
  color: #FFA63A;
}
.blog .blog-right .carousel-control-next-icon, .blog .blog-right .carousel-control-prev-icon {
  background-color: #FFA63A;
}
.blog .blog-bottom {
  padding-top: 50px;
  padding-left: 10px;
}
.blog .blog-bottom h2 {
  color: #08546C;
  padding-bottom: 10px;
}
.blog .blog-bottom p {
  color: #757575;
  padding-bottom: 15px;
}
.blog .blog-bottom .blog-btns {
  display: flex;
  flex-wrap: wrap;
}
.blog .blog-bottom .blog-btns a {
  text-decoration: none;
  color: #757575;
  gap: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 20px;
}
.blog .blog-bottom .blog-btns a:hover {
  color: #FFA800;
  background-color: #FFF8EB;
}/*# sourceMappingURL=main.css.map */